* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(83, 189, 189, 0.306) 14%,
    rgba(113, 108, 118, 0.889) 86%
  );
}

li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

.main-container {
  background-color: grey;
}

.icon-size {
  font-size: 2rem;
}

.list__input {
  font-size: 1.8rem;
}

.display-items {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.add-task {
  background-color: white;
}

.add-tasks {
  border: none;
  font-style: italic;
}

.clear-completed-tasks {
  background-color: rgb(220, 217, 217);
  font-size: 1.5rem;
  width: 100%;
  border: none;
  padding: 1.3rem;
}

.list-items {
  gap: 6rem;
}
