* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 70%;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:
    radial-gradient(
      circle,
      rgba(87, 101, 101, 0.306) 14%,
      rgba(38, 34, 42, 0.889) 86%
    );
}

li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

.container {
  background-color: white;
}

.icon-size {
  font-size: 12px;
}

.list-input {
  font-size: 15px;
}

.arrange-items {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.add-task {
  background-color: white;
}

.add-task__input {
  border: none;
  font-size: 1.8rem;
  font-style: italic;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-items {
  gap: 6rem;
}

.pointer {
  cursor: pointer;
}

.clear-completed-tasks {
  background-color: rgb(220, 217, 217);
  font-size: 2rem;
  width: 100%;
  border: none;
  padding: 1rem;
}

